body{
    margin: 0;
    font-family: 'Lato', sans-serif;
}
header{
    padding-bottom: 100px;
}
.color-O{
    color: orange;
}
.container{
    width: 90%;
    margin: auto;
    display: flex;
}
.half-cont{
    width: 50%;
}
.half-cont img{
    width: 80%;
}
#img-cent{
    margin-top: 10px;
    display: grid;
    place-items: center;
}
#img-size{
    padding-top: 80px;
    width: 40%;
}
.half-cont h1{
    color:#575757;
    font-size: 70px;
    font-weight: 600;
}
.half-cont p{
    font-weight: 600;
    color:#575757;
    font-size: 21px;
    padding-bottom: 90px;
    padding-top: 60px;
}
#order-button{
    text-decoration: none;
    color: white;
    padding: 14px 20px;
    font-size: 20px;
    border-radius: 30px;
    background-image: linear-gradient(45deg,lightsalmon,tomato);
}
.about-us{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#cont-button{
    text-decoration: none;
    color: white;
    padding: 14px 20px;
    font-size: 20px;
    border-radius: 30px;
    background-image: linear-gradient(180deg,lightsalmon,tomato);
}
.recipie-head{
    color:#575757;
    width: 50%;
    margin: auto;
    text-align: center;
    margin-bottom: 100px;
}
.recipie-head h1{
    font-size: 50px;
    font-weight: 600;
}
.recipie-head p{
    font-size: 21px;
    font-weight: 600;
}
.child{
    width: 25%;
    margin: auto;
    margin-bottom: 70px;
    display: grid;
    place-items: center;
    border-radius: 40px;
    box-shadow: 10px 10px 45px gray;
}
.child img{
    width: 90%;
    margin-top: 20px;
}
.child h2{
    width: 90%;
    text-align: left;
    font-size: 30px;
    font-weight: 600;
}
.child p{
    color:#575757;
    width: 90%;
    text-align: justify;
    font-size: 21px;
    font-weight: 600;
    padding-bottom: 50px;
}
#social {
    box-shadow: 10px 10px 45px grey;
    border-radius: 24px;
}
.social{
    margin-bottom: 100px;
}
.social-child {
    width: 25%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 70px;
    display: grid;
    place-items: center;
}
.social-child h1 {
    font-size: 70px;
}
.social-child span {
    font-size: 21px;
}
footer{
    background-color: #0B0D17;
    padding-bottom: 100px;
}
.foot {
    color: white;
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
}
.foot{
    
}
.foot p{
    color: white;
    font-size: 21px;
}